/* 
  Site Images  ---------- */

.site-images-holder {
    overflow: hidden;
    margin-bottom: 2em;
    }
    .img-box {
        height: 250px;
        padding: 14px;
        margin-bottom: 1.5em;
        -webkit-box-shadow: 2px 2px 8px #aaa; /* grey */
           -moz-box-shadow: 2px 2px 8px #aaa;
                box-shadow: 2px 2px 8px #aaa;
        }
        .img-box:hover {
            border: 1px solid #;
            -webkit-box-shadow: 2px 2px 6px #9d9d9d; /* dark + 1 */
               -moz-box-shadow: 2px 2px 6px #9d9d9d;
                    box-shadow: 2px 2px 6px #9d9d9d;
            /*-webkit-box-shadow: 2px 2px 6px #919191;*/ /* dark + 2 */
               /*-moz-box-shadow: 2px 2px 6px #919191;*/
                    /*box-shadow: 2px 2px 6px #919191;*/
            }
        .image-header  {
            overflow: hidden;
            position: relative;
            height: 100px;
            }
            .image-header > img {
                position: absolute; 
                bottom: 0; left: 0;
                }
            .image-header > h2 {
                position: absolute; 
                bottom: 0; left: 110px;
                width: 80%;

                border-bottom: 3px solid rgb(0, 0, 0);
                border-bottom: 3px solid rgba(0, 0, 0, 0.1);
                }
        .image-description {
            height: 4em;
            /*margin-left: 1em;*/
            font-size: 16px;
            /*overflow: scroll;*/
            }

@media (max-width: 600px) {

}
