html { height: 100%; }
body { 
    height: 100%; 
    margin: 0; padding: 0 ;
}

#map-canvas { 
    height: 100%;
    position: relative;
    z-index: 0; 
}
#map-body {
    position: absolute;
    z-index: 2;
    }
    .map-content {
        /**/
        width: 520px;
        }
    #map-body h1 {
        border-bottom: 3px solid rgb(64, 64, 64);
        border-bottom: 3px solid rgba(64, 64, 64, 0.1);
        padding-top: 8px;
        padding-bottom: 5px;
        }
    #map-description {
        padding: 0 1em 0.5em;
        }


#panel {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    }
    .controls {
        margin: 3px 5px;
        }
        .tb-btn {
            background-color: rgb(241, 220, 165);
            color: #005580;
            font-weight: bold;
            }
        .tb-bn:hover {
            /*color: #0088CC;*/
            }

.nav {
    margin: 0;
    }

.faded-beige-bg {
    background-color: rgb(241, 220, 165);
    color: #131313;
    }

.side-note {
    float:right;
    font-size: small;
    font-style: italic;
    margin-right: 10px;
    }

