.nav {
    margin-top: 1em;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    padding: 0.5em 1em 0.35em;
    text-align: center;
    font-size: 14px;
    }
    .site-name,
    .nav-text {
        /*font-family: 'Open Sans Extrabold', 'Verdana', sans-serif;*/
        text-shadow: 4px 4px 4px #aaa;
        }
        .site-name {
            font-size: 18px;
            font-style: italic;
            letter-spacing: 1px;
            padding-right: 5px;
            }
        .nav-text {
            font-size: 14px;
            font-weight: 600;
            }
    .footer-nav {
        display: inline;
        list-style: none;
        margin-left: 0;
        }
        .footer-nav > li,
        .footer-nav > li > a {
            display: inline-block;
            *display: inline;
            zoom: 1;
            text-decoration: none;
            }
    .link-end {
        margin: 0 2px;
        /*font-size: 18px;*/
        }
    .member-link {
        padding: 5px 8px 3px;
        -webkit-box-shadow: 2px 2px 2px 0 #aaa;
           -moz-box-shadow: 2px 2px 2px 0 #aaa;
                box-shadow: 2px 2px 2px 0 #aaa;
        /*-webkit-border-radius: 15px;
           -moz-border-radius: 15px;
                border-radius: 15px;*/
        }