/*

Headers:       h1 - h6
Text:          p, blockquote, pre
Lists:         ol, ul, li
CSS alignment: img.left, .left, .right, etc...
Tables
Misc:          hr, em, strong, etc...

*/

.typography {
    font-family: 'Open Sans', sans-serif;
    color: #404040;
    font-size: 18px;
    /*line-height: 24px;*/
    line-height: 26px;
    /*font-weight: 400;*/
    }


/* HEADERS */
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.nav a { 
    text-shadow: 4px 4px 4px #aaa; 
    }

.typography h1,
.typography h2,
.site-name {
    font-family: 'PT Serif Italic', serif;
    /*font-size: 36px;*/
    /*color: #F77;*/
    /*font-style: italic;*/
    }

.typography h2 {
    /*font-size: 36px;*/
    font-style: italic;
    }


/* LISTS */
.typography .content ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
    }
    .typography .content li {
        line-height: 140%;
        }
    .typography .content li:before {
        /*font-size: 20px;*/
        content: "\0BB \020";
        font-size: 140%;
        margin-right: 1px;
        }


/* LINKS */
.typography a {
   color: #005580;
    }
    .typography a:hover,
    .typography a:focus {
        color: #0088cc;
        }
    .current a {
        color: #404040;
        /*margin-bottom: 0;*/
        /*border-bottom: 3px solid #005580;*/
        }


.typography hr {
    height: 0;
    border: 0;
    border-top: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgb(241, 220, 165);
    border-bottom: 1px solid rgba(241, 220, 165, 0.3);
    }


/* UTILITIES */
.typography .acronym {
    font-family: 'PT Serif Italic', serif;
    /*font-size: 17px;*/
    font-weight: 700; 
    /*color: #005580;*/ /*DARK BLUE*/
    color: #404040;     /*DARK GREY|BROWN*/
    }
.typography .standout {
    font-size: 20px;
    line-height: 28px
    }
.typography .double-linebr {
    margin-bottom: 1.3em;
    }
.typography .citation {
    font-size: 16px;
    line-height: 20px;
    /*font-style: italic;*/
    margin-bottom: 0;
    }
    .typography .citation .creator {
        /*font-size: 16px;*/
        /*line-height: 20px;*/
        font-style: italic;
        /*margin-bottom: 0;*/
        }
    .typography .citation .title {
        /*font-size: 16px;*/
        /*line-height: 20px;*/
        /*font-style: italic;*/
        /*margin-bottom: 0;*/
        }
    .typography .citation .publisher {
        /*font-size: 16px;*/
        /*line-height: 20px;*/
        /*font-style: italic;*/
        /*margin-bottom: 0;*/
        }
    .typography .citation .date {
        /*font-size: 16px;*/
        /*line-height: 20px;*/
        /*font-style: italic;*/
        /*margin-bottom: 0;*/
        }
