/*

main        background-color: #f1dca5;              BEIGE-ISH
            background-color: rgb(241, 220, 165);   BEIGE-ISH
p-text      font-color:       #5f757a;              BLUE
h1-h4       font-color:       #325771;              DARK BLUE

box         background-color: #805c38;              BROWN
nav, search background-color: #d3d0c7;              GREY
nav, search font-color:       #131313;              DARK GREY

a           color: #0088cc;
a:hover,
a:focus     color: #005580;

*/

/* Typography */
body {
    font-family: 'Open Sans', sans-serif;
    /*color: #131313;*/
    color: #404040;
}
.content {
    margin-bottom: 20px;
    font-size: 120%;
    font-weight: 400;
    line-height: 160%;
    /*font-size: 21px;*/
    /*font-weight: 200;*/
    /*line-height: 30px;*/
}
h1, h2, h3, h4,
.nav a { text-shadow: 4px 4px 4px #aaa; }

hr {
    /*background-color: #f1dca5;*/
    border: 0;
    height: 0;
    border-top: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgb(241, 220, 165);
    border-bottom: 1px solid rgba(241, 220, 165, 0.3);
}
.content ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}
.content ul li {
    line-height: 140%;
}
.content ul li:before {
    /*font-size: 20px;*/
    content: "\0BB \020";
}


/* 
  Layout ------------------- */
header {
    margin-bottom: 1.5em;
}

.content {
    padding: 1em 1em 0;
}

.side-bar {
    padding: 1em;
    margin-top: 1em;
}
.nav li a {
    text-align: left;
}


/* 
  HomePage ----------------- */

/* Colors */
.brown-bg {
    background-color: #8B4513;
}
.home a {
   color: #005580;
    }
    .home a:hover,
    .home a:focus {
        color: #0088cc;
        }


.header-banner {
    position: relative;
    width: 100%; /* for IE 6 */
    }
    .header-banner > img {
        width: 100%;
        z-index: -1;
        }
    .header-banner > .pos-bottom-right {
        position: absolute;
        bottom: 0;
        right: 20px;
        }
    .header-text {
        position: absolute; 
        top: 15px;
        right: 80px;
        width: 100%;
        }
.homepage-article > .content {
    padding: 0 2em;
    position: relative;
    top: -30px;
    }
.homepage-footer {
    padding: 0.75em;
    /*padding: 0;*/
    }
    .homepage-footer div {
        /*margin: 0;*/
        display: inline-block;
        }
    .homepage-footer ul:first-child {
        margin-left: 0;
        }
    .img-list div {
        /*display: inline;*/
        overflow: hidden;
        position:relative;
        }
        .img-list div img {
            overflow: hidden;
            padding: 0;
            }
@media (max-width: 920px) {
    .homepage-article > .content {
        padding: 0.5em;
        position: relative;
        top: 0;
    }
    .header-text {
        right: 60px;
    }
    .header-text h1,
    .header-text h2 {
        font-size: 110%;
        line-height: 99%;
    }
}
@media (max-width: 600px) {
    .header-text {
        top: 0px;
        right: 5px;
        font-size: 100%;
    }
}


/* 
  SearchForm ----------------- */

.search-box {
    width: 100%;
    }
    .form-search {
        margin-top: 20px;
        margin-left:auto;
        margin-right:auto;
        width: 70%;
        }
        .form-search > input[type="text"],
        .form-search > button {
            padding: 10px 10px 8px 10px;
            font-size: 120%;
            -webkit-border-radius: 5px;
               -moz-border-radius: 5px;
                    border-radius: 5px; 
        }
        .form-search > input[type="text"] {
            width: 230px;
            height: 100%;
            background-color: #d3d0c7;
            color: #131313;
        }
@media (max-width: 600px) {
    .form-search {
        margin-left:auto;
        margin-right:auto;
        width: 85%;
        }
}


/* 
  Contact Form ----------------- */

.Form_ContactForm {
    width: 100%;
}


/* 
  Footer Navigation ----------------- */

/* COLORS */
.light-blue-bg {
    background-color: #d3d0c7;
}

.nav {
    margin-top: 1em;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    padding: 0.5em 1em 0.35em;
    text-align: center;
    }
    .subtle-title {
        font-family: 'Open Sans Extrabold', sans-serif;
        font-size: 120%;
        text-shadow: 4px 4px 4px #aaa;
        letter-spacing: 1px;
        }
    .footer-nav {
        display: inline;
        list-style:none;
        margin-left: 0;
        }
        .footer-nav > li,
        .footer-nav > li > a {
            display: inline-block;
            *display: inline;
            zoom: 1;
            text-decoration: none;
            }


/* 
  Footer ---------------------------- */

.bottom {
    position: relative;
}


/* 
  ProjectPage --------------------- */

/* COLORS */
.dark-grey-bg {
    background-color: #484848;
    color: #f7d87f;
}
.beige-bg {
    background-color: #f7d87f;
    color: #7f9ef7;
}

.btn-back {
    display: inline-block;
}
.btn-back > i {
    margin: 15px 8px 15px 15px;
}

/* 
  GeographicScopePage ---------- */

/* COLORS */
.faded-beige-bg {
    background-color: rgb(241, 220, 165);
    background-color: rgba(241, 220, 165, 0.8);
    color: #131313;
}

.geographic-focus {
    margin-top: 700px;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1170px;
    
  /* Set up proportionate scaling */
  width: 100%;
  height: 140%;
    
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -585px;   /* 50% */
  }
}

.message-pointer {
    position: absolute;
    top: 0;
    padding: 0 1em 1em 1em;
    -webkit-border-bottom-right-radius: 10px;
     -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
         -moz-border-radius-bottomleft: 10px;
            border-bottom-right-radius: 10px;
             border-bottom-left-radius: 10px;
}
.geo-header > h1 {
    margin-left: 1em;
}
.geo-content {
    padding: 0.5em;
}


/* 
  Site Images & Labels ---------- */

#ImagePage .side-bar {
    margin-top: 0;
}
.image-info-header {
    /*margin: 0 1em 1em;*/
    }
    .image-info-header img {
        margin-top: 0;
        }
    header.site-images {
        margin: 1em 0.5em auto;
        padding: 0 0.5em;
        max-width: 240px;
        display: inline-block;
        /*position: absolute;
        bottom: 20;
        right: 0;*/
        }

.site-img {
    position: relative;
    display: inline-block;
}
.pos-top-left {
    position: absolute;
    top: 5px;
    left: 5px;
    }
.pos-top-right {
    position: absolute;
    top: 5px;
    right: 5px;
    }
.pos-bottom-right {
    position: absolute;
    bottom: 15px;
    right: 20px;
    }
.site-img > img {
    padding: 10px;
    z-index: -1;
    }
.info-btn { /* Image Info Label */
    background-color: #d3d0c7;
    /*color: #131313;*/
    color: #0088cc;
    padding: 0.5em 1em;
    -webkit-box-shadow: 2px 2px 6px #aaa;
       -moz-box-shadow: 2px 2px 6px #aaa;
            box-shadow: 2px 2px 6px #aaa;
    z-index: 10;
    }
    .info-btn:hover {
        /*color: #131313;*/
        color: #005580;
        -webkit-box-shadow: 2px 2px 6px #919191;
           -moz-box-shadow: 2px 2px 6px #919191;
                box-shadow: 2px 2px 6px #919191;
        }

/* site-images page ImagesHolder */
.site-image-holder {
    width: 100%;
    overflow: hidden;
    }
    .img-box {
        width: 30%;
        float: left;
        padding: 10px;
        margin: 0 0 0 10px;
        }
        .img-box h2 {
            text-align: center;
            }
        .img-box a {
            /*margin: 0 auto;*/
            /*position: relative;*/
            }
            .img-box a img {
                height: 200px;
                /*position: absolute;*/
                /*clip: rect(0 100px 200px 0);*/
                }

@media (max-width: 600px) {
    header.site-images {
        padding: 0 0.5em;
        min-width: 240px;
        position: static;
    }
}


/* 
  UTILITIES --------------- */

form.contact {
    width: 100%;
}

/* 
  UTILITIES --------------- */
.pad-1 {
    padding: 1em;
}
.padd {
    margin: 0 0.25em;
}

.qr { display: none; }
@media print {
    .qr { display: block; }
}

.list-header {
    text-align: center;
}
