/*

main        background-color: #f1dca5;              BEIGE-ISH
            background-color: rgb(241, 220, 165);   BEIGE-ISH
p-text      font-color:       #5f757a;              BLUE
h1-h4       font-color:       #325771;              DARK BLUE

box         background-color: #805c38;              BROWN
nav, search background-color: #d3d0c7;              GREY
nav, search font-color:       #131313;              DARK GREY

a           color: #005580;
a:hover,
a:focus     color: #0088cc;

*/


/* 
  BACKGROUND COLORS --------- */

.light-blue-bg {
    background-color: #d3d0c7;
    }
.brown-bg {
    background-color: #8B4513;
    }
.dark-grey-bg {
    background-color: #484848;
    color: #f7d87f;
    }
.beige-bg {
    background-color: #f7d87f;
    color: #484848;
    }
.faded-beige-bg {
    background-color: rgb(241, 220, 165);
    background-color: rgba(241, 220, 165, 0.8);
    color: #131313;
    }


/* 
  Layout ------------------- */

html {overflow-y: scroll;}

header {
    /*margin-bottom: 1.5em;*/
    }

.content {
    padding: 1em 1em 0;
    }

.btn-back {
    display: inline-block;
    }
    .btn-back > i {
        /*margin: 15px 8px 15px 15px;*/
        margin: 15px;
        }


/* 
  ContentPage ---------------- */

.content-page {
    overflow: hidden;
    /*border: 1px dashed #404040;*/
    }
.content-page p {
    float: left;
    /*width: 660px;*/
    width: 46%;
    margin-left: 15px;
    }

.side-bar {
    padding: 1em;
    margin-top: 1em;
    }
    .side-bar h3 {
        line-height: 24px;
        /*padding: 1em;*/
        /*margin-top: 1em;*/
        }


/* 
  Image Boxes ---------------- */

.site-img {
    position: relative;
    display: inline-block;
    }
    .site-img > img {
        padding: 10px;
        z-index: -1;
        }

    .info-btn { /* Image Info Label */
        background-color: #d3d0c7;
        /*color: #131313;*/
        color: #0088cc;
        padding: 0.5em 1em;
        -webkit-box-shadow: 2px 2px 6px #aaa;
           -moz-box-shadow: 2px 2px 6px #aaa;
                box-shadow: 2px 2px 6px #aaa;
        z-index: 10;
        }
        .info-btn:hover {
            /*color: #131313;*/
            color: #005580;
            -webkit-box-shadow: 2px 2px 6px #919191;
               -moz-box-shadow: 2px 2px 6px #919191;
                    box-shadow: 2px 2px 6px #919191;
            }

    .pos-top-left {
        position: absolute;
        /*top: 0;*/
        top: 5px;
        left: 5px;
        }
    .pos-top-right {
        position: absolute;
        top: 5px;
        right: 5px;
        }
    .pos-bottom-right {
        position: absolute;
        bottom: 15px;
        right: 20px;
        }


/* 
  SearchForm ----------------- */

#search-box {
    /*margin: 30px auto 0;*/
    }
    #search-box form {
        margin-top: 35px;
        margin-left:auto;
        margin-right:auto;
        width: 360px;
        }
        .search-input:focus {
            outline: 0;
            -webkit-box-shadow: 0 0 4px #0088cc;
               -moz-box-shadow: 0 0 4px #0088cc;
                    box-shadow: 0 0 4px #0088cc;
            }
    .search-tip {
        text-align: center;
        /*margin-left: 3px;*/
        }

@media (max-width: 600px) {
    #search-box form {
        margin-left:auto;
        margin-right:auto;
        /*width: 100%;*/
        }
}


/* 
  Contact Form ----------------- */

.Form_ContactForm {
    /*width: 100%;*/
    }

/*
  Split Conntent Page ---------------- */

.split-content-page > h2 {
    border-bottom: 1px solid #d3d0c7;
    margin-bottom: 4px;
    }


/* 
  Footer ---------------------------- */

footer#fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    }


/* 
  Footer Navigation ----------------- */

nav {
    /*margin-top: 10px;*/
    padding: 0.5em 0 0.35em;
    text-align: center;
    font-size: 14px;
    }
    .site-name {
        font-size: 18px;
        font-style: italic;
        letter-spacing: 1px;
        padding-right: 5px;
        }
    .nav-text {
        font-size: 14px;
        font-weight: 600;
        /*text-transform: uppercase;*/
        }
    nav ul {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
        }
        nav ul > li,
        nav ul > li > a {
            display: inline-block;
            *display: inline;
            zoom: 1;
            text-decoration: none;
            }
    .link-end {
        margin: 0 2px;
        /*font-size: 18px;*/
        }
    .member-link {
        padding: 5px 8px 3px;
        -webkit-box-shadow: 2px 2px 2px 0 #aaa;
           -moz-box-shadow: 2px 2px 2px 0 #aaa;
                box-shadow: 2px 2px 2px 0 #aaa;
        }


/* 
  UTILITIES --------------- */

.add-shadow {
    text-shadow: 4px 4px 4px #aaa;
    }

.qr { display: none; }
@media print {
    .qr { display: block; }
}

.list-header {
    text-align: center;
}
